body {
  padding: 0;
  margin: 0;
}

.legend {
  opacity: 1;
  font-family: copperplate;
  position: fixed;
  background-color: LightCoral;
  padding: 10;
  right: 10px;
  bottom: 10px;
  width: 200px;
  height: 210px;
  text-align: center;
  z-index: 100;
}

.legend-title {
  top: 0;
  height: 40px;
  background-color: LightCoral;
}

.bar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 0;
  height: 50px;
  width: 100%;
  background-color: LightCoral;
  z-index: 100;
}

.username {
  resize: none;
}

canvas {
  position: absolute;
  top: 50px;
}